<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
	<body>
		<h1>Leyes CABA</h1>
		<!-- header -->
		<%- include('partials/headerNavbar') %>
		<!-- /header -->

		<!-- footer -->
		<%- include('partials/footer') %>
		<!-- /footer -->
  </body>
</html>
