body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-footer {
  width: 100%;
}

.main-footer article {
  width: 100%;
}

.main-footer h2{
  font-size: 0.8rem;
  font-weight: bold;
}

.main-footer p{
  font-size: 0.8rem;
}